---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Armand VF" description="About Armand VF Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img src="https://files.catbox.moe/4ncwuj.png" alt="Armand VF" style="width:300px;height:auto;" />
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						A young aspiring creative, I specialise in audiovisual projects where I can work closely with clients or collaborators to bring a creative vision to life. I have been involved in music from a very young age, and adding visual media to my longstanding passion for audio has been a logical step that allows me to push myself and my creativity further.
					</p>
					<p>
						Growing up, I have always felt a strong connection to music, which led to me spending a year at a music studio shortly after the first COVID lockdown, followed by several years of personal projects and a year of study. I also play several instruments, which has given me a useful insight into the technical aspects of music composition.
					</p>

					<p>
						More recently, I dove into the world of live theatre, followed by audiovisual projects such as film and video. I hvae a particular interest in film, however all types of audiovisual media continue to interest me and I am always looking for new ways to express myself, and the ideas of others.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">More information</h2>
				<div class="content">
					<p>For any more information about me, please feel free to get in touch using the form below. My rates are variable and will depend on the project in question. Please note that I have flexible working hours, and prefer contact via emial or instant messaging.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-400);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-400);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
			color: var(--gray-400);
		}
	}
</style>
