---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="question" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Creative vison</h2>
		<p>Looking to communicate your creative vision, yet unsure how to go about it? Get in touch below to see how I can bring your ideas to life. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="books" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Peace of mind</h2>
		<p>With your project in my hands, you can rest assured that you will be involved in all necessary decisions and steps along the way.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trend-up" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>True collaboration</h2>
		<p>If you are satisfied with my work, I am always open to extend our collaboration to bring growth and continuity to any future projects.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
		color: var(--gray-400);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
			color: var(--gray-400);
		}
	}
</style>
