---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="stack backgrounds">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style>
			:root {
				--_placeholder-bg: linear-gradient(transparent, transparent);
				--bg-image-main: url('/src/backgrounds/noon-to-dusk.jpg');
				--bg-image-main-curves: url('/src/backgrounds/noon-to-dusk.jpg');
				--bg-image-subtle-1: url('/src/backgrounds/noon-to-dusk.jpg');
				--bg-image-subtle-2: url('/src/backgrounds/noon-to-dusk.jpg');
				--bg-image-footer: url('/src/backgrounds/noon-to-dusk.jpg');
				--bg-svg-blend-mode: overlay;
				--bg-blend-mode: darken;
				--bg-image-aspect-ratio: 2.25;
				--bg-scale: 1.68;
				--bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
				--bg-gradient-size: calc(var(--bg-scale) * 100%);
			}

			:root.theme-dark {
				--bg-image-main: url('/src/backgrounds/lawrencium.jpg');
				--bg-image-main-curves: url('/src/backgrounds/lawrencium.jpg');
				--bg-image-subtle-1: url('/src/backgrounds/lawrencium.jpg');
				--bg-image-subtle-2: url('/src/backgrounds/lawrencium.jpg');
				--bg-image-footer: url('/src/backgrounds/lawrencium.jpg');
				--bg-svg-blend-mode: darken;
				--bg-blend-mode: lighten;
			}

			/* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */
			:root.loaded {
				--bg-image-subtle-1: url('/src/backgrounds/noon-to-dusk.jpg');
				--bg-image-subtle-2: url('/src/backgrounds/noon-to-dusk.jpg');
				--bg-image-footer: url('/src/backgrounds/noon-to-dusk.jpg');
			}
			:root.loaded.theme-dark {
				--bg-image-subtle-1: url('/src/backgrounds/lawrencium.jpg');
				--bg-image-subtle-2: url('/src/backgrounds/lawrencium.jpg');
				--bg-image-footer: url('/src/backgrounds/lawrencium.jpg');
			}

			@media (min-width: 50em) {
				:root {
					--bg-scale: 1;
					--bg-image-main: url('/src/backgrounds/noon-to-dusk.jpg');
				}
				:root.theme-dark {
					--bg-image-main: url('/src/backgrounds/lawrencium.jpg');
				}

				:root.loaded {
					--bg-image-subtle-1: url('/src/backgrounds/noon-to-dusk.jpg');
					--bg-image-subtle-2: url('/src/backgrounds/noon-to-dusk.jpg');
					--bg-image-footer: url('/src/backgrounds/noon-to-dusk.jpg');
				}
				:root.loaded.theme-dark {
					--bg-image-subtle-1: url('/src/backgrounds/lawrencium.jpg');
					--bg-image-subtle-2: url('/src/backgrounds/lawrencium.jpg');
					--bg-image-footer: url('/src/backgrounds/lawrencium.jpg');
				}
			}

			.backgrounds {
				min-height: 100%;
				isolation: isolate;
				background: var(--bg-image-main);
				background-size: var(--bg-image-main-size);
			}
			@media (forced-colors: active) {
				/* Deactivate custom backgrounds for high contrast users. */
				.backgrounds {
					background: none;
					background-blend-mode: none;
					--bg-gradient-size: none;
				}
			}
		</style>
	</body>
</html>